<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='react/dist/assets/index.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}" type="image/png">
    <title>Gastos de la vida</title>
</head>
<body>
    <script>
        window.__APP_CONFIG__ = {{ {
            'isAuthenticated': is_authenticated,
            'user': {'id': user.id, 'username': user.username, 'picture': user.picture}
        } | tojson }};
    </script>
    <div id="root"></div>
    <script type="module" src="{{ url_for('static', filename='react/dist/assets/index.js') }}"></script>
</body>
</html>
